git1.0.txt
[{"id":"7046780d.303108","type":"tab","label":"FlowFuncional1","disabled":false,"info":"Sin timestamp\n"},{"id":"492ec218.578e5c","type":"inject","z":"7046780d.303108","name":"","topic":"","payload":"1","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":180,"wires":[["35b47f6e.f66e7"]]},{"id":"35b47f6e.f66e7","type":"function","z":"7046780d.303108","name":"","func":"var msg2={};\nmsg2.payload={};\n\n\nmsg2.payload.temp=[];\nmsg2.payload.hum=[];\nmsg2.payload.pres=[];\n\nvar i;\nfor (i = 0; i < msg.payload; i++) {\n\n    msg2.payload.temp.push(25+Math.floor(Math.random() * 11) );\n    msg2.payload.hum.push(40+ Math.floor(Math.random() * 21) );\n    msg2.payload.pres.push(900+ 30+ Math.floor(Math.random() * 201));\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["7045a31d.8a565c"]]},{"id":"7045a31d.8a565c","type":"template","z":"7046780d.303108","name":"ConvertToOntology","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"BasicSensor\":\n        { \n            \"assetId\":\"ROOM1\",\n            \"measure1\": {{payload.temp}},\n            \"unit1\":\"temperature\",\n            \"measure2\":{{payload.hum}},\n            \"unit2\":\"humidity\",\n            \"measure3\":{{payload.pres}},\n            \"unit3\":\"pressure\"\n        }\n}","output":"json","x":590,"y":180,"wires":[["86aeb5ca.54c868","e57c5de9.03144"]]},{"id":"86aeb5ca.54c868","type":"onesaitplatform-insert","z":"7046780d.303108","name":"","ontology":"SensorDevice","authentication":"YWx2YXJydG9jOnQ1OFV0TG5tckVlUHVXMEFHSm5WZWFJNDMrWis0Z2NjQk9xNllkK1Z0N0E9","x":840,"y":180,"wires":[[]]},{"id":"e57c5de9.03144","type":"debug","z":"7046780d.303108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":340,"wires":[]}]