onesaitlab2.0.txt
[{"id":"e1ef2e8d.5bb66","type":"tab","label":"INPUTS DE DATOS EN LA DB","disabled":false,"info":""},{"id":"7c7b7571.11a84c","type":"inject","z":"e1ef2e8d.5bb66","name":"","topic":"","payload":"1","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["83520a4.326cff8"]]},{"id":"83520a4.326cff8","type":"function","z":"e1ef2e8d.5bb66","name":"","func":"var msg2={};\nmsg2.payload={};\nmsg2.payload.BasicSensor={};\n\nvar fecha = new Date();\nvar dia = fecha.getFullYear() + '-' + fecha.getMonth() + '-' + fecha.getDate();\nvar tiempo;\nvar horas;\nvar segundos;\nvar minutos;\nvar vector = [];\n\nif (fecha.getMinutes() < 10) { minutos = ':0' + fecha.getMinutes();}\nelse if (fecha.getMinutes() >= 10) {minutos = ':' + fecha.getMinutes();}\n\nif (fecha.getSeconds()  < 10 ) {segundos = ':0' + fecha.getSeconds();}\nelse if (fecha.getSeconds() >= 10 ) {segundos = ':' + fecha.getSeconds();}\n\nif (fecha.getHours() < 10 ) {horas = '0' + fecha.getHours();}\nelse if (fecha.getHours() >= 10) {horas = fecha.getHours();}\n\ntiempo = horas + minutos + segundos +'Z';\n\nvar i;\nfor (i = 0; i < msg.payload; i++) {\n\n    vector.push(25+Math.floor(Math.random() * 11) );\n    vector.push(40+ Math.floor(Math.random() * 21) );\n    vector.push(900+ 30+ Math.floor(Math.random() * 201));\n}\n\nmsg2.payload.BasicSensor.id_clave = 1;\nmsg2.payload.BasicSensor.id_name = \"ROOM1\"\nmsg2.payload.BasicSensor.time = fecha;\n//msg2.payload.BasicSensor.time = dia + \"T\" + tiempo;\nmsg2.payload.BasicSensor.temperatura= vector[0];\nmsg2.payload.BasicSensor.unit1=\"Cº\";\nmsg2.payload.BasicSensor.humedad= vector[1];\nmsg2.payload.BasicSensor.unit2=\"%H\";\nmsg2.payload.BasicSensor.presion = vector[2];\nmsg2.payload.BasicSensor.unit3=\"mmHg\";\n\nreturn msg2;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["2dcf76b3.d4630a"]]},{"id":"2dcf76b3.d4630a","type":"json","z":"e1ef2e8d.5bb66","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":120,"wires":[["1b63636e.fad23d","dc096197.37558"]]},{"id":"c02b2d45.b0ac6","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":120,"wires":[]},{"id":"dc096197.37558","type":"onesaitplatform-insert","z":"e1ef2e8d.5bb66","name":"","ontology":"PruebaIars2","authentication":"YWx2YXJydG9jOnQ1OFV0TG5tckVlUHVXMEFHSm5WZWFJNDMrWis0Z2NjQk9xNllkK1Z0N0E9","x":680,"y":120,"wires":[["c02b2d45.b0ac6"]]},{"id":"6aaf6627.b987c8","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":700,"wires":[]},{"id":"8a4b37a9.ba8128","type":"onesaitplatform-notification-endpoint","z":"e1ef2e8d.5bb66","name":"","url":"/458eb697-1c3d-4467-b4fb-504b69e7d6f4-8a4b37a9_ba8","method":"post","ontology":"PruebaIars","operationType":"INSERT","x":180,"y":700,"wires":[["6aaf6627.b987c8"]]},{"id":"1b63636e.fad23d","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":200,"wires":[]},{"id":"3c9eb6b1.28935a","type":"comment","z":"e1ef2e8d.5bb66","name":"OUTPUTS SENSOR 1","info":"","x":160,"y":80,"wires":[]},{"id":"7586b593.256b3c","type":"inject","z":"e1ef2e8d.5bb66","name":"","topic":"","payload":"1","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":320,"wires":[["45ff229b.c093ec"]]},{"id":"b5e51cac.d5127","type":"json","z":"e1ef2e8d.5bb66","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":320,"wires":[["d061c02a.d607e","bdf70201.3b312"]]},{"id":"74c1e0ae.8fdbb","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":320,"wires":[]},{"id":"d061c02a.d607e","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":400,"wires":[]},{"id":"ec616d1b.fb74e","type":"comment","z":"e1ef2e8d.5bb66","name":"OUTPUTS SENSOR 2","info":"","x":160,"y":280,"wires":[]},{"id":"9b7c6743.45ad08","type":"inject","z":"e1ef2e8d.5bb66","name":"","topic":"","payload":"1","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":520,"wires":[["5a10bbb0.e34c44"]]},{"id":"e174c4df.fa8bf8","type":"json","z":"e1ef2e8d.5bb66","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":520,"wires":[["9599b106.27484","cd38f7de.7e8a88"]]},{"id":"281123b9.dee21c","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":520,"wires":[]},{"id":"9599b106.27484","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":600,"wires":[]},{"id":"6f100b8c.4efc34","type":"comment","z":"e1ef2e8d.5bb66","name":"OUTPUTS SENSOR 3","info":"","x":160,"y":480,"wires":[]},{"id":"50e16188.4b892","type":"comment","z":"e1ef2e8d.5bb66","name":"NOTIFICACIONES","info":"","x":150,"y":640,"wires":[]},{"id":"45ff229b.c093ec","type":"function","z":"e1ef2e8d.5bb66","name":"","func":"var msg2={};\nmsg2.payload={};\nmsg2.payload.BasicSensor={};\n\nvar fecha = new Date();\nvar dia = fecha.getFullYear() + '-' + fecha.getMonth() + '-' + fecha.getDate();\nvar tiempo;\nvar horas;\nvar segundos;\nvar minutos;\nvar vector = [];\n\nif (fecha.getMinutes() < 10) { minutos = ':0' + fecha.getMinutes();}\nelse if (fecha.getMinutes() >= 10) {minutos = ':' + fecha.getMinutes();}\n\nif (fecha.getSeconds()  < 10 ) {segundos = ':0' + fecha.getSeconds();}\nelse if (fecha.getSeconds() >= 10 ) {segundos = ':' + fecha.getSeconds();}\n\nif (fecha.getHours() < 10 ) {horas = '0' + fecha.getHours();}\nelse if (fecha.getHours() >= 10) {horas = fecha.getHours();}\n\ntiempo = horas + minutos + segundos +'Z';\n\nvar i;\nfor (i = 0; i < msg.payload; i++) {\n\n    vector.push(25+Math.floor(Math.random() * 11) );\n    vector.push(40+ Math.floor(Math.random() * 21) );\n    vector.push(900+ 30+ Math.floor(Math.random() * 201));\n}\n\nmsg2.payload.BasicSensor.id_clave = 2;\nmsg2.payload.BasicSensor.id_name = \"ROOM2\"\nmsg2.payload.BasicSensor.time = fecha;\n//msg2.payload.BasicSensor.time = dia + \"T\" + tiempo;\nmsg2.payload.BasicSensor.temperatura= vector[0];\nmsg2.payload.BasicSensor.unit1=\"Cº\";\nmsg2.payload.BasicSensor.humedad= vector[1];\nmsg2.payload.BasicSensor.unit2=\"%H\";\nmsg2.payload.BasicSensor.presion = vector[2];\nmsg2.payload.BasicSensor.unit3=\"mmHg\";\n\nreturn msg2;","outputs":1,"noerr":0,"x":290,"y":320,"wires":[["b5e51cac.d5127"]]},{"id":"5a10bbb0.e34c44","type":"function","z":"e1ef2e8d.5bb66","name":"","func":"var msg2={};\nmsg2.payload={};\nmsg2.payload.BasicSensor={};\n\nvar fecha = new Date();\nvar dia = fecha.getFullYear() + '-' + fecha.getMonth() + '-' + fecha.getDate();\nvar tiempo;\nvar horas;\nvar segundos;\nvar minutos;\nvar vector = [];\n\nif (fecha.getMinutes() < 10) { minutos = ':0' + fecha.getMinutes();}\nelse if (fecha.getMinutes() >= 10) {minutos = ':' + fecha.getMinutes();}\n\nif (fecha.getSeconds()  < 10 ) {segundos = ':0' + fecha.getSeconds();}\nelse if (fecha.getSeconds() >= 10 ) {segundos = ':' + fecha.getSeconds();}\n\nif (fecha.getHours() < 10 ) {horas = '0' + fecha.getHours();}\nelse if (fecha.getHours() >= 10) {horas = fecha.getHours();}\n\ntiempo = horas + minutos + segundos +'Z';\n\nvar i;\nfor (i = 0; i < msg.payload; i++) {\n\n    vector.push(25+Math.floor(Math.random() * 11) );\n    vector.push(40+ Math.floor(Math.random() * 21) );\n    vector.push(900+ 30+ Math.floor(Math.random() * 201));\n}\n\nmsg2.payload.BasicSensor.id_clave = 3;\nmsg2.payload.BasicSensor.id_name = \"ROOM3\"\nmsg2.payload.BasicSensor.time = fecha;\n//msg2.payload.BasicSensor.time = dia + \"T\" + tiempo;\nmsg2.payload.BasicSensor.temperatura= vector[0];\nmsg2.payload.BasicSensor.unit1=\"Cº\";\nmsg2.payload.BasicSensor.humedad= vector[1];\nmsg2.payload.BasicSensor.unit2=\"%H\";\nmsg2.payload.BasicSensor.presion = vector[2];\nmsg2.payload.BasicSensor.unit3=\"mmHg\";\n\nreturn msg2;","outputs":1,"noerr":0,"x":290,"y":520,"wires":[["e174c4df.fa8bf8"]]},{"id":"bdf70201.3b312","type":"onesaitplatform-insert","z":"e1ef2e8d.5bb66","name":"","ontology":"PruebaIars2","authentication":"YWx2YXJydG9jOnQ1OFV0TG5tckVlUHVXMEFHSm5WZWFJNDMrWis0Z2NjQk9xNllkK1Z0N0E9","x":680,"y":320,"wires":[["74c1e0ae.8fdbb"]]},{"id":"cd38f7de.7e8a88","type":"onesaitplatform-insert","z":"e1ef2e8d.5bb66","name":"","ontology":"PruebaIars2","authentication":"YWx2YXJydG9jOnQ1OFV0TG5tckVlUHVXMEFHSm5WZWFJNDMrWis0Z2NjQk9xNllkK1Z0N0E9","x":680,"y":520,"wires":[["281123b9.dee21c"]]}]