OnesaitFlows.txt
[{"id":"e1ef2e8d.5bb66","type":"tab","label":"INPUTS DE DATOS EN LA DB","disabled":false,"info":""},{"id":"3b416429.d6521c","type":"tab","label":"QUERY MAKER","disabled":false,"info":""},{"id":"18602e5d.460e82","type":"tab","label":"MAIL TRYOUT","disabled":false,"info":""},{"id":"7c7b7571.11a84c","type":"inject","z":"e1ef2e8d.5bb66","name":"","topic":"","payload":"1","payloadType":"num","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["83520a4.326cff8"]]},{"id":"83520a4.326cff8","type":"function","z":"e1ef2e8d.5bb66","name":"","func":"var msg2={};\nmsg2.payload={};\nmsg2.payload.BasicSensor={};\n\nvar fecha = new Date();\nvar dia = fecha.getFullYear() + '-' + fecha.getMonth() + '-' + fecha.getDate();\nvar tiempo;\nvar vector = [];\n/*\nvar horas;\nvar segundos;\nvar minutos;\n\nif (fecha.getMinutes() < 10) { minutos = ':0' + fecha.getMinutes();}\nelse if (fecha.getMinutes() >= 10) {minutos = ':' + fecha.getMinutes();}\n\nif (fecha.getSeconds()  < 10 ) {segundos = ':0' + fecha.getSeconds();}\nelse if (fecha.getSeconds() >= 10 ) {segundos = ':' + fecha.getSeconds();}\n\nif (fecha.getHours() < 10 ) {horas = '0' + fecha.getHours();}\nelse if (fecha.getHours() >= 10) {horas = fecha.getHours();}\n\ntiempo = horas + minutos + segundos +'Z';\n*/\nvar i;\nfor (i = 0; i < msg.payload; i++) {\n\n    vector.push(25+Math.floor(Math.random() * 11) );\n    vector.push(40+ Math.floor(Math.random() * 21) );\n    vector.push(900+ 30+ Math.floor(Math.random() * 201));\n}\n\nmsg2.payload.BasicSensor.id_clave = 1;\nmsg2.payload.BasicSensor.id_name = \"ROOM1\"\nmsg2.payload.BasicSensor.time = fecha;\n//msg2.payload.BasicSensor.time = dia + \"T\" + tiempo;\nmsg2.payload.BasicSensor.temperatura= vector[0];\nmsg2.payload.BasicSensor.unit1=\"Cº\";\nmsg2.payload.BasicSensor.humedad= vector[1];\nmsg2.payload.BasicSensor.unit2=\"%H\";\nmsg2.payload.BasicSensor.presion = vector[2];\nmsg2.payload.BasicSensor.unit3=\"mmHg\";\n\nreturn msg2;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["2dcf76b3.d4630a"]]},{"id":"2dcf76b3.d4630a","type":"json","z":"e1ef2e8d.5bb66","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":120,"wires":[["1b63636e.fad23d","dc096197.37558"]]},{"id":"c02b2d45.b0ac6","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":120,"wires":[]},{"id":"dc096197.37558","type":"onesaitplatform-insert","z":"e1ef2e8d.5bb66","name":"","ontology":"PruebaIars2","authentication":"YWx2YXJydG9jOnQ1OFV0TG5tckVlUHVXMEFHSm5WZWFJNDMrWis0Z2NjQk9xNllkK1Z0N0E9","x":680,"y":120,"wires":[["c02b2d45.b0ac6"]]},{"id":"6aaf6627.b987c8","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":700,"wires":[]},{"id":"8a4b37a9.ba8128","type":"onesaitplatform-notification-endpoint","z":"e1ef2e8d.5bb66","name":"","url":"/c6d60306-6b69-436a-9390-cefd5ebed711-8a4b37a9_ba8","method":"post","ontology":"PruebaIars2","operationType":"INSERT","x":180,"y":700,"wires":[["6aaf6627.b987c8"]]},{"id":"1b63636e.fad23d","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":200,"wires":[]},{"id":"3c9eb6b1.28935a","type":"comment","z":"e1ef2e8d.5bb66","name":"OUTPUTS SENSOR 1","info":"","x":160,"y":80,"wires":[]},{"id":"7586b593.256b3c","type":"inject","z":"e1ef2e8d.5bb66","name":"","topic":"","payload":"1","payloadType":"num","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":320,"wires":[["45ff229b.c093ec"]]},{"id":"b5e51cac.d5127","type":"json","z":"e1ef2e8d.5bb66","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":320,"wires":[["d061c02a.d607e","bdf70201.3b312"]]},{"id":"74c1e0ae.8fdbb","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":320,"wires":[]},{"id":"d061c02a.d607e","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":400,"wires":[]},{"id":"ec616d1b.fb74e","type":"comment","z":"e1ef2e8d.5bb66","name":"OUTPUTS SENSOR 2","info":"","x":160,"y":280,"wires":[]},{"id":"9b7c6743.45ad08","type":"inject","z":"e1ef2e8d.5bb66","name":"","topic":"","payload":"1","payloadType":"num","repeat":"600","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":520,"wires":[["5a10bbb0.e34c44"]]},{"id":"e174c4df.fa8bf8","type":"json","z":"e1ef2e8d.5bb66","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":520,"wires":[["9599b106.27484","cd38f7de.7e8a88"]]},{"id":"281123b9.dee21c","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":520,"wires":[]},{"id":"9599b106.27484","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":600,"wires":[]},{"id":"6f100b8c.4efc34","type":"comment","z":"e1ef2e8d.5bb66","name":"OUTPUTS SENSOR 3","info":"","x":160,"y":480,"wires":[]},{"id":"50e16188.4b892","type":"comment","z":"e1ef2e8d.5bb66","name":"NOTIFICACIONES","info":"","x":150,"y":640,"wires":[]},{"id":"d2613b72.1c76f8","type":"onesaitplatform-mail","z":"18602e5d.460e82","name":"Correo","to":"alvaroarroyotocino@gmail.com","subject":"Temp","body":"Prueba","htmlenable":false,"file":"","authentication":"YWx2YXJydG9jOnQ1OFV0TG5tckVlUHVXMEFHSm5WZWFJNDMrWis0Z2NjQk9xNllkK1Z0N0E9","x":890,"y":300,"wires":[["3777bd99.575342"]]},{"id":"934d91d4.8ccb7","type":"inject","z":"18602e5d.460e82","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":160,"wires":[["d57427e0.63dfb8"]]},{"id":"d57427e0.63dfb8","type":"function","z":"18602e5d.460e82","name":"","func":"var msg2={};\nmsg2.payload={};\nmsg2.payload.BasicSensor={};\n\nvar fecha = new Date();\nvar dia = fecha.getFullYear() + '-' + fecha.getMonth() + '-' + fecha.getDate();\nvar tiempo;\nvar horas;\nvar segundos;\nvar minutos;\nvar vector = [];\n\nif (fecha.getMinutes() < 10) { minutos = ':0' + fecha.getMinutes();}\nelse if (fecha.getMinutes() >= 10) {minutos = ':' + fecha.getMinutes();}\n\nif (fecha.getSeconds()  < 10 ) {segundos = ':0' + fecha.getSeconds();}\nelse if (fecha.getSeconds() >= 10 ) {segundos = ':' + fecha.getSeconds();}\n\nif (fecha.getHours() < 10 ) {horas = '0' + fecha.getHours();}\nelse if (fecha.getHours() >= 10) {horas = fecha.getHours();}\n\ntiempo = horas + minutos + segundos +'Z';\n\nvar i;\nfor (i = 0; i < msg.payload; i++) {\n\n    vector.push(25+Math.floor(Math.random() * 11) );\n    vector.push(40+ Math.floor(Math.random() * 21) );\n    vector.push(900+ 30+ Math.floor(Math.random() * 201));\n}\nmsg2.payload.BasicSensor.id = \"ROOM1\"\nmsg2.payload.BasicSensor.time = fecha;\n//msg2.payload.BasicSensor.time = dia + \"T\" + tiempo;\n//msg2.payload.BasicSensor.temperatura= vector[0];\nmsg2.payload.BasicSensor.temperatura= 55;\nmsg2.payload.BasicSensor.unit1=\"Cº\";\n//msg2.payload.BasicSensor.humedad= vector[1];\nmsg2.payload.BasicSensor.humedad= 88;\nmsg2.payload.BasicSensor.unit2=\"%H\";\n//msg2.payload.BasicSensor.presion = vector[2];\nmsg2.payload.BasicSensor.presion = 1500;\nmsg2.payload.BasicSensor.unit3=\"mmHg\";\n\nreturn msg2;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["bd0df3f6.abbfe"]]},{"id":"bd0df3f6.abbfe","type":"json","z":"18602e5d.460e82","name":"","property":"payload","action":"obj","pretty":false,"x":530,"y":160,"wires":[["bfa8cb06.44ab38"]]},{"id":"fdae1a1c.eb4958","type":"trigger","z":"18602e5d.460e82","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","name":"","x":740,"y":300,"wires":[["d2613b72.1c76f8"]]},{"id":"45ff229b.c093ec","type":"function","z":"e1ef2e8d.5bb66","name":"","func":"var msg2={};\nmsg2.payload={};\nmsg2.payload.BasicSensor={};\n\nvar fecha = new Date();\nvar dia = fecha.getFullYear() + '-' + fecha.getMonth() + '-' + fecha.getDate();\nvar tiempo;\nvar horas;\nvar segundos;\nvar minutos;\nvar vector = [];\n\nif (fecha.getMinutes() < 10) { minutos = ':0' + fecha.getMinutes();}\nelse if (fecha.getMinutes() >= 10) {minutos = ':' + fecha.getMinutes();}\n\nif (fecha.getSeconds()  < 10 ) {segundos = ':0' + fecha.getSeconds();}\nelse if (fecha.getSeconds() >= 10 ) {segundos = ':' + fecha.getSeconds();}\n\nif (fecha.getHours() < 10 ) {horas = '0' + fecha.getHours();}\nelse if (fecha.getHours() >= 10) {horas = fecha.getHours();}\n\ntiempo = horas + minutos + segundos +'Z';\n\nvar i;\nfor (i = 0; i < msg.payload; i++) {\n\n    vector.push(28+Math.floor(Math.random() * 11) );\n    vector.push(50+ Math.floor(Math.random() * 21) );\n    vector.push(900+ 55+ Math.floor(Math.random() * 201));\n}\n\nmsg2.payload.BasicSensor.id_clave = 2;\nmsg2.payload.BasicSensor.id_name = \"ROOM2\"\nmsg2.payload.BasicSensor.time = fecha;\n//msg2.payload.BasicSensor.time = dia + \"T\" + tiempo;\nmsg2.payload.BasicSensor.temperatura= vector[0];\nmsg2.payload.BasicSensor.unit1=\"Cº\";\nmsg2.payload.BasicSensor.humedad= vector[1];\nmsg2.payload.BasicSensor.unit2=\"%H\";\nmsg2.payload.BasicSensor.presion = vector[2];\nmsg2.payload.BasicSensor.unit3=\"mmHg\";\n\nreturn msg2;","outputs":1,"noerr":0,"x":290,"y":320,"wires":[["b5e51cac.d5127"]]},{"id":"5a10bbb0.e34c44","type":"function","z":"e1ef2e8d.5bb66","name":"","func":"var msg2={};\nmsg2.payload={};\nmsg2.payload.BasicSensor={};\n\nvar fecha = new Date();\nvar dia = fecha.getFullYear() + '-' + fecha.getMonth() + '-' + fecha.getDate();\nvar tiempo;\nvar horas;\nvar segundos;\nvar minutos;\nvar vector = [];\n\nif (fecha.getMinutes() < 10) { minutos = ':0' + fecha.getMinutes();}\nelse if (fecha.getMinutes() >= 10) {minutos = ':' + fecha.getMinutes();}\n\nif (fecha.getSeconds()  < 10 ) {segundos = ':0' + fecha.getSeconds();}\nelse if (fecha.getSeconds() >= 10 ) {segundos = ':' + fecha.getSeconds();}\n\nif (fecha.getHours() < 10 ) {horas = '0' + fecha.getHours();}\nelse if (fecha.getHours() >= 10) {horas = fecha.getHours();}\n\ntiempo = horas + minutos + segundos +'Z';\n\nvar i;\nfor (i = 0; i < msg.payload; i++) {\n\n    vector.push(32+Math.floor(Math.random() * 11) );\n    vector.push(49+ Math.floor(Math.random() * 21) );\n    vector.push(900+ 80+ Math.floor(Math.random() * 201));\n}\n\nmsg2.payload.BasicSensor.id_clave = 3;\nmsg2.payload.BasicSensor.id_name = \"ROOM3\"\nmsg2.payload.BasicSensor.time = fecha;\n//msg2.payload.BasicSensor.time = dia + \"T\" + tiempo;\nmsg2.payload.BasicSensor.temperatura= vector[0];\nmsg2.payload.BasicSensor.unit1=\"Cº\";\nmsg2.payload.BasicSensor.humedad= vector[1];\nmsg2.payload.BasicSensor.unit2=\"%H\";\nmsg2.payload.BasicSensor.presion = vector[2];\nmsg2.payload.BasicSensor.unit3=\"mmHg\";\n\nreturn msg2;","outputs":1,"noerr":0,"x":290,"y":520,"wires":[["e174c4df.fa8bf8"]]},{"id":"bdf70201.3b312","type":"onesaitplatform-insert","z":"e1ef2e8d.5bb66","name":"","ontology":"PruebaIars2","authentication":"YWx2YXJydG9jOnQ1OFV0TG5tckVlUHVXMEFHSm5WZWFJNDMrWis0Z2NjQk9xNllkK1Z0N0E9","x":680,"y":320,"wires":[["74c1e0ae.8fdbb"]]},{"id":"cd38f7de.7e8a88","type":"onesaitplatform-insert","z":"e1ef2e8d.5bb66","name":"","ontology":"PruebaIars2","authentication":"YWx2YXJydG9jOnQ1OFV0TG5tckVlUHVXMEFHSm5WZWFJNDMrWis0Z2NjQk9xNllkK1Z0N0E9","x":680,"y":520,"wires":[["281123b9.dee21c"]]},{"id":"6b72206f.6350d","type":"debug","z":"18602e5d.460e82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload3","x":160,"y":480,"wires":[]},{"id":"fe1eb4.0c92915","type":"debug","z":"18602e5d.460e82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","x":160,"y":520,"wires":[]},{"id":"1c31677f.92e059","type":"switch","z":"18602e5d.460e82","name":"Care Temperature","property":"payload1","propertyType":"msg","rules":[{"t":"gt","v":"40","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":300,"wires":[["fdae1a1c.eb4958"]]},{"id":"bfa8cb06.44ab38","type":"change","z":"18602e5d.460e82","name":"","rules":[{"t":"set","p":"payload1","pt":"msg","to":"payload.BasicSensor.temperatura","tot":"msg"},{"t":"set","p":"payload2","pt":"msg","to":"payload.BasicSensor.presion","tot":"msg"},{"t":"set","p":"payload3","pt":"msg","to":"payload.BasicSensor.humedad","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":300,"wires":[["ed5417a2.078958","fe1eb4.0c92915","6b72206f.6350d","1c31677f.92e059","aa41a149.6eae2","46a20ecf.04bed"]]},{"id":"ed5417a2.078958","type":"debug","z":"18602e5d.460e82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload1","x":160,"y":440,"wires":[]},{"id":"aa41a149.6eae2","type":"switch","z":"18602e5d.460e82","name":"Care pressure","property":"payload2","propertyType":"msg","rules":[{"t":"gt","v":"1400","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":340,"wires":[["68c7c444.7e565c"]]},{"id":"46a20ecf.04bed","type":"switch","z":"18602e5d.460e82","name":"Care humidity","property":"payload3","propertyType":"msg","rules":[{"t":"gt","v":"60","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":500,"y":380,"wires":[["f65c7a2e.fb91d8"]]},{"id":"3777bd99.575342","type":"debug","z":"18602e5d.460e82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":300,"wires":[]},{"id":"601be6ca.83bc18","type":"debug","z":"18602e5d.460e82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":970,"y":160,"wires":[]},{"id":"f70bf6f7.1e34a8","type":"onesaitplatform-insert","z":"18602e5d.460e82","name":"","ontology":"PruebaIars2","authentication":"YWx2YXJydG9jOnQ1OFV0TG5tckVlUHVXMEFHSm5WZWFJNDMrWis0Z2NjQk9xNllkK1Z0N0E9","x":760,"y":160,"wires":[["601be6ca.83bc18"]]},{"id":"62f67242.4391bc","type":"onesaitplatform-mail","z":"18602e5d.460e82","name":"Correo","to":"alvaroarroyotocino@gmail.com","subject":"Pressure","body":"Prueba","htmlenable":false,"file":"","authentication":"YWx2YXJydG9jOnQ1OFV0TG5tckVlUHVXMEFHSm5WZWFJNDMrWis0Z2NjQk9xNllkK1Z0N0E9","x":890,"y":340,"wires":[["5c0fc0ad.20d79"]]},{"id":"68c7c444.7e565c","type":"trigger","z":"18602e5d.460e82","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","name":"","x":740,"y":340,"wires":[["62f67242.4391bc"]]},{"id":"5c0fc0ad.20d79","type":"debug","z":"18602e5d.460e82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":340,"wires":[]},{"id":"bd2b3d14.091bd","type":"onesaitplatform-mail","z":"18602e5d.460e82","name":"Correo","to":"alvaroarroyotocino@gmail.com","subject":"Humidity","body":"Prueba","htmlenable":false,"file":"","authentication":"YWx2YXJydG9jOnQ1OFV0TG5tckVlUHVXMEFHSm5WZWFJNDMrWis0Z2NjQk9xNllkK1Z0N0E9","x":890,"y":380,"wires":[["87a6d79a.1bc368"]]},{"id":"f65c7a2e.fb91d8","type":"trigger","z":"18602e5d.460e82","op1":"1","op2":"","op1type":"str","op2type":"nul","duration":"250","extend":true,"units":"ms","reset":"","bytopic":"all","name":"","x":740,"y":380,"wires":[["bd2b3d14.091bd"]]},{"id":"87a6d79a.1bc368","type":"debug","z":"18602e5d.460e82","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":380,"wires":[]},{"id":"1ff9b74f.42ce39","type":"onesaitplatform-query-static","z":"3b416429.d6521c","name":"","ontology":"PruebaIars2","targetDB":"","queryType":"sql","query":"SELECT * FROM PruebaIars2 WHERE BasicSensor.id_clave = 1 ORDER BY BasicSensor.time DESC","authentication":"YWx2YXJydG9jOnQ1OFV0TG5tckVlUHVXMEFHSm5WZWFJNDMrWis0Z2NjQk9xNllkK1Z0N0E9","x":360,"y":240,"wires":[["30e5c943.f161d6"]]},{"id":"4a910de6.3a8c14","type":"inject","z":"3b416429.d6521c","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":240,"wires":[["1ff9b74f.42ce39"]]},{"id":"c7c131ef.9ad6a","type":"debug","z":"3b416429.d6521c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":240,"wires":[]},{"id":"30e5c943.f161d6","type":"json","z":"3b416429.d6521c","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":240,"wires":[["c7c131ef.9ad6a"]]},{"id":"749d8e0e.6b9ff","type":"comment","z":"3b416429.d6521c","name":"Select id = 1 AND order by time","info":"","x":190,"y":200,"wires":[]},{"id":"955f8db5.9fec8","type":"onesaitplatform-query-static","z":"3b416429.d6521c","name":"","ontology":"PruebaIars2","targetDB":"","queryType":"sql","query":"SELECT * FROM PruebaIars2 ","authentication":"YWx2YXJydG9jOnQ1OFV0TG5tckVlUHVXMEFHSm5WZWFJNDMrWis0Z2NjQk9xNllkK1Z0N0E9","x":360,"y":120,"wires":[["57ba23d6.7233dc"]]},{"id":"df97b035.ee74e","type":"inject","z":"3b416429.d6521c","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["955f8db5.9fec8"]]},{"id":"62c93a50.9f7bc4","type":"debug","z":"3b416429.d6521c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":120,"wires":[]},{"id":"57ba23d6.7233dc","type":"json","z":"3b416429.d6521c","name":"","property":"payload","action":"obj","pretty":false,"x":570,"y":120,"wires":[["62c93a50.9f7bc4"]]},{"id":"6a0d98bf.932988","type":"comment","z":"3b416429.d6521c","name":"Select * [EVERYTHING]","info":"","x":170,"y":80,"wires":[]}]