onesaitlab.txt
[{"id":"7046780d.303108","type":"tab","label":"FlowFuncional1","disabled":false,"info":"Sin timestamp\n"},{"id":"e1ef2e8d.5bb66","type":"tab","label":"INPUTS DE DATOS EN LA DB","disabled":true,"info":""},{"id":"18602e5d.460e82","type":"tab","label":"Prueba de mail","disabled":true,"info":""},{"id":"492ec218.578e5c","type":"inject","z":"7046780d.303108","name":"","topic":"","payload":"1","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":180,"wires":[[]]},{"id":"35b47f6e.f66e7","type":"function","z":"7046780d.303108","name":"","func":"var msg2={};\nmsg2.payload={};\n\n\nmsg2.payload.temp=[];\nmsg2.payload.hum=[];\nmsg2.payload.pres=[];\n\nvar i;\nfor (i = 0; i < msg.payload; i++) {\n\n    msg2.payload.temp.push(25+Math.floor(Math.random() * 11) );\n    msg2.payload.hum.push(40+ Math.floor(Math.random() * 21) );\n    msg2.payload.pres.push(900+ 30+ Math.floor(Math.random() * 201));\n}\n\nreturn msg2;","outputs":1,"noerr":0,"x":390,"y":180,"wires":[["7045a31d.8a565c"]]},{"id":"7045a31d.8a565c","type":"template","z":"7046780d.303108","name":"ConvertToOntology","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"BasicSensor\":\n        { \n            \"assetId\":\"ROOM1\",\n            \"measure1\": {{payload.temp}},\n            \"unit1\":\"temperature\",\n            \"measure2\":{{payload.hum}},\n            \"unit2\":\"humidity\",\n            \"measure3\":{{payload.pres}},\n            \"unit3\":\"pressure\"\n        }\n}","output":"json","x":590,"y":180,"wires":[["86aeb5ca.54c868","e57c5de9.03144"]]},{"id":"86aeb5ca.54c868","type":"onesaitplatform-insert","z":"7046780d.303108","name":"","ontology":"SensorDevice","authentication":"YWx2YXJydG9jOnQ1OFV0TG5tckVlUHVXMEFHSm5WZWFJNDMrWis0Z2NjQk9xNllkK1Z0N0E9","x":840,"y":180,"wires":[[]]},{"id":"e57c5de9.03144","type":"debug","z":"7046780d.303108","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":710,"y":340,"wires":[]},{"id":"7c7b7571.11a84c","type":"inject","z":"e1ef2e8d.5bb66","name":"","topic":"","payload":"1","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":120,"wires":[["83520a4.326cff8"]]},{"id":"83520a4.326cff8","type":"function","z":"e1ef2e8d.5bb66","name":"","func":"var msg2={};\nmsg2.payload={};\nmsg2.payload.BasicSensor={};\n\nvar fecha = new Date();\nvar dia = fecha.getFullYear() + '-' + fecha.getMonth() + '-' + fecha.getDate();\nvar tiempo;\nvar horas;\nvar segundos;\nvar minutos;\nvar vector = [];\n\nif (fecha.getMinutes() < 10) { minutos = ':0' + fecha.getMinutes();}\nelse if (fecha.getMinutes() >= 10) {minutos = ':' + fecha.getMinutes();}\n\nif (fecha.getSeconds()  < 10 ) {segundos = ':0' + fecha.getSeconds();}\nelse if (fecha.getSeconds() >= 10 ) {segundos = ':' + fecha.getSeconds();}\n\nif (fecha.getHours() < 10 ) {horas = '0' + fecha.getHours();}\nelse if (fecha.getHours() >= 10) {horas = fecha.getHours();}\n\ntiempo = horas + minutos + segundos +'Z';\n\nvar i;\nfor (i = 0; i < msg.payload; i++) {\n\n    vector.push(25+Math.floor(Math.random() * 11) );\n    vector.push(40+ Math.floor(Math.random() * 21) );\n    vector.push(900+ 30+ Math.floor(Math.random() * 201));\n}\nmsg2.payload.BasicSensor.id = \"ROOM1\"\nmsg2.payload.BasicSensor.time = fecha;\n//msg2.payload.BasicSensor.time = dia + \"T\" + tiempo;\nmsg2.payload.BasicSensor.temperatura= vector[0];\nmsg2.payload.BasicSensor.unit1=\"Cº\";\nmsg2.payload.BasicSensor.humedad= vector[1];\nmsg2.payload.BasicSensor.unit2=\"%H\";\nmsg2.payload.BasicSensor.presion = vector[2];\nmsg2.payload.BasicSensor.unit3=\"mmHg\";\n\nreturn msg2;","outputs":1,"noerr":0,"x":290,"y":120,"wires":[["2dcf76b3.d4630a"]]},{"id":"2dcf76b3.d4630a","type":"json","z":"e1ef2e8d.5bb66","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":120,"wires":[["dc096197.37558","1b63636e.fad23d"]]},{"id":"c02b2d45.b0ac6","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":120,"wires":[]},{"id":"dc096197.37558","type":"onesaitplatform-insert","z":"e1ef2e8d.5bb66","name":"","ontology":"PruebaIars","authentication":"YWx2YXJydG9jOnQ1OFV0TG5tckVlUHVXMEFHSm5WZWFJNDMrWis0Z2NjQk9xNllkK1Z0N0E9","x":680,"y":120,"wires":[["c02b2d45.b0ac6"]]},{"id":"6aaf6627.b987c8","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":700,"wires":[]},{"id":"8a4b37a9.ba8128","type":"onesaitplatform-notification-endpoint","z":"e1ef2e8d.5bb66","name":"","url":"/458eb697-1c3d-4467-b4fb-504b69e7d6f4-8a4b37a9_ba8","method":"post","ontology":"PruebaIars","operationType":"INSERT","x":180,"y":700,"wires":[["6aaf6627.b987c8"]]},{"id":"1b63636e.fad23d","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":200,"wires":[]},{"id":"3c9eb6b1.28935a","type":"comment","z":"e1ef2e8d.5bb66","name":"OUTPUTS SENSOR 1","info":"","x":160,"y":80,"wires":[]},{"id":"7586b593.256b3c","type":"inject","z":"e1ef2e8d.5bb66","name":"","topic":"","payload":"1","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":320,"wires":[["9626a305.a579"]]},{"id":"9626a305.a579","type":"function","z":"e1ef2e8d.5bb66","name":"","func":"var msg2={};\nmsg2.payload={};\nmsg2.payload.BasicSensor={};\n\nvar fecha = new Date();\nvar dia = fecha.getFullYear() + '-' + fecha.getMonth() + '-' + fecha.getDate();\nvar tiempo;\nvar horas;\nvar segundos;\nvar minutos;\nvar vector = [];\n\nif (fecha.getMinutes() < 10) { minutos = ':0' + fecha.getMinutes();}\nelse if (fecha.getMinutes() >= 10) {minutos = ':' + fecha.getMinutes();}\n\nif (fecha.getSeconds()  < 10 ) {segundos = ':0' + fecha.getSeconds();}\nelse if (fecha.getSeconds() >= 10 ) {segundos = ':' + fecha.getSeconds();}\n\nif (fecha.getHours() < 10 ) {horas = '0' + fecha.getHours();}\nelse if (fecha.getHours() >= 10) {horas = fecha.getHours();}\n\ntiempo = horas + minutos + segundos +'Z';\n\nvar i;\nfor (i = 0; i < msg.payload; i++) {\n\n    vector.push(25+Math.floor(Math.random() * 11) );\n    vector.push(40+ Math.floor(Math.random() * 21) );\n    vector.push(900+ 30+ Math.floor(Math.random() * 201));\n}\nmsg2.payload.BasicSensor.id = \"ROOM2\"\nmsg2.payload.BasicSensor.time = fecha;\n//msg2.payload.BasicSensor.time = dia + \"T\" + tiempo;\nmsg2.payload.BasicSensor.temperatura= vector[0];\nmsg2.payload.BasicSensor.unit1=\"Cº\";\nmsg2.payload.BasicSensor.humedad= vector[1];\nmsg2.payload.BasicSensor.unit2=\"%H\";\nmsg2.payload.BasicSensor.presion = vector[2];\nmsg2.payload.BasicSensor.unit3=\"mmHg\";\n\nreturn msg2;","outputs":1,"noerr":0,"x":290,"y":320,"wires":[["b5e51cac.d5127"]]},{"id":"b5e51cac.d5127","type":"json","z":"e1ef2e8d.5bb66","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":320,"wires":[["b1f376e1.fde158","d061c02a.d607e"]]},{"id":"74c1e0ae.8fdbb","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":320,"wires":[]},{"id":"b1f376e1.fde158","type":"onesaitplatform-insert","z":"e1ef2e8d.5bb66","name":"","ontology":"PruebaIars","authentication":"YWx2YXJydG9jOnQ1OFV0TG5tckVlUHVXMEFHSm5WZWFJNDMrWis0Z2NjQk9xNllkK1Z0N0E9","x":680,"y":320,"wires":[["74c1e0ae.8fdbb"]]},{"id":"d061c02a.d607e","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":400,"wires":[]},{"id":"ec616d1b.fb74e","type":"comment","z":"e1ef2e8d.5bb66","name":"OUTPUTS SENSOR 2","info":"","x":160,"y":280,"wires":[]},{"id":"9b7c6743.45ad08","type":"inject","z":"e1ef2e8d.5bb66","name":"","topic":"","payload":"1","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":520,"wires":[["15e6e4b2.d8662b"]]},{"id":"15e6e4b2.d8662b","type":"function","z":"e1ef2e8d.5bb66","name":"","func":"var msg2={};\nmsg2.payload={};\nmsg2.payload.BasicSensor={};\n\nvar fecha = new Date();\nvar dia = fecha.getFullYear() + '-' + fecha.getMonth() + '-' + fecha.getDate();\nvar tiempo;\nvar horas;\nvar segundos;\nvar minutos;\nvar vector = [];\n\nif (fecha.getMinutes() < 10) { minutos = ':0' + fecha.getMinutes();}\nelse if (fecha.getMinutes() >= 10) {minutos = ':' + fecha.getMinutes();}\n\nif (fecha.getSeconds()  < 10 ) {segundos = ':0' + fecha.getSeconds();}\nelse if (fecha.getSeconds() >= 10 ) {segundos = ':' + fecha.getSeconds();}\n\nif (fecha.getHours() < 10 ) {horas = '0' + fecha.getHours();}\nelse if (fecha.getHours() >= 10) {horas = fecha.getHours();}\n\ntiempo = horas + minutos + segundos +'Z';\n\nvar i;\nfor (i = 0; i < msg.payload; i++) {\n\n    vector.push(25+Math.floor(Math.random() * 11) );\n    vector.push(40+ Math.floor(Math.random() * 21) );\n    vector.push(900+ 30+ Math.floor(Math.random() * 201));\n}\nmsg2.payload.BasicSensor.id = \"ROOM3\"\nmsg2.payload.BasicSensor.time = fecha;\n//msg2.payload.BasicSensor.time = dia + \"T\" + tiempo;\nmsg2.payload.BasicSensor.temperatura= vector[0];\nmsg2.payload.BasicSensor.unit1=\"Cº\";\nmsg2.payload.BasicSensor.humedad= vector[1];\nmsg2.payload.BasicSensor.unit2=\"%H\";\nmsg2.payload.BasicSensor.presion = vector[2];\nmsg2.payload.BasicSensor.unit3=\"mmHg\";\n\nreturn msg2;","outputs":1,"noerr":0,"x":290,"y":520,"wires":[["e174c4df.fa8bf8"]]},{"id":"e174c4df.fa8bf8","type":"json","z":"e1ef2e8d.5bb66","name":"","property":"payload","action":"obj","pretty":false,"x":470,"y":520,"wires":[["3f56e9ed.277d76","9599b106.27484"]]},{"id":"281123b9.dee21c","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":930,"y":520,"wires":[]},{"id":"3f56e9ed.277d76","type":"onesaitplatform-insert","z":"e1ef2e8d.5bb66","name":"","ontology":"PruebaIars","authentication":"YWx2YXJydG9jOnQ1OFV0TG5tckVlUHVXMEFHSm5WZWFJNDMrWis0Z2NjQk9xNllkK1Z0N0E9","x":680,"y":520,"wires":[["281123b9.dee21c"]]},{"id":"9599b106.27484","type":"debug","z":"e1ef2e8d.5bb66","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":600,"wires":[]},{"id":"6f100b8c.4efc34","type":"comment","z":"e1ef2e8d.5bb66","name":"OUTPUTS SENSOR 3","info":"","x":160,"y":480,"wires":[]},{"id":"50e16188.4b892","type":"comment","z":"e1ef2e8d.5bb66","name":"NOTIFICACIONES","info":"","x":150,"y":640,"wires":[]},{"id":"d2613b72.1c76f8","type":"onesaitplatform-mail","z":"18602e5d.460e82","name":"","to":"","subject":"","body":"","htmlenable":false,"file":"","authentication":"YWx2YXJydG9jOnQ1OFV0TG5tckVlUHVXMEFHSm5WZWFJNDMrWis0Z2NjQk9xNllkK1Z0N0E9","x":740,"y":160,"wires":[[]]},{"id":"934d91d4.8ccb7","type":"inject","z":"18602e5d.460e82","name":"","topic":"","payload":"1","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":160,"wires":[[]]},{"id":"d57427e0.63dfb8","type":"function","z":"18602e5d.460e82","name":"","func":"var msg2={};\nmsg2.payload={};\nmsg2.payload.BasicSensor={};\n\nvar fecha = new Date();\nvar dia = fecha.getFullYear() + '-' + fecha.getMonth() + '-' + fecha.getDate();\nvar tiempo;\nvar horas;\nvar segundos;\nvar minutos;\nvar vector = [];\n\nif (fecha.getMinutes() < 10) { minutos = ':0' + fecha.getMinutes();}\nelse if (fecha.getMinutes() >= 10) {minutos = ':' + fecha.getMinutes();}\n\nif (fecha.getSeconds()  < 10 ) {segundos = ':0' + fecha.getSeconds();}\nelse if (fecha.getSeconds() >= 10 ) {segundos = ':' + fecha.getSeconds();}\n\nif (fecha.getHours() < 10 ) {horas = '0' + fecha.getHours();}\nelse if (fecha.getHours() >= 10) {horas = fecha.getHours();}\n\ntiempo = horas + minutos + segundos +'Z';\n\nvar i;\nfor (i = 0; i < msg.payload; i++) {\n\n    vector.push(25+Math.floor(Math.random() * 11) );\n    vector.push(40+ Math.floor(Math.random() * 21) );\n    vector.push(900+ 30+ Math.floor(Math.random() * 201));\n}\nmsg2.payload.BasicSensor.id = \"ROOM1\"\nmsg2.payload.BasicSensor.time = fecha;\n//msg2.payload.BasicSensor.time = dia + \"T\" + tiempo;\nmsg2.payload.BasicSensor.temperatura= vector[0];\nmsg2.payload.BasicSensor.unit1=\"Cº\";\nmsg2.payload.BasicSensor.humedad= vector[1];\nmsg2.payload.BasicSensor.unit2=\"%H\";\nmsg2.payload.BasicSensor.presion = vector[2];\nmsg2.payload.BasicSensor.unit3=\"mmHg\";\n\nreturn msg2;","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["bd0df3f6.abbfe"]]},{"id":"bd0df3f6.abbfe","type":"json","z":"18602e5d.460e82","name":"","property":"payload","action":"obj","pretty":false,"x":530,"y":160,"wires":[[]]},{"id":"f2c329f7.88d628","type":"catch","z":"18602e5d.460e82","name":"","scope":null,"x":200,"y":300,"wires":[[]]},{"id":"615085c8.d2b88c","type":"status","z":"18602e5d.460e82","name":"","scope":null,"x":200,"y":220,"wires":[[]]},{"id":"fdae1a1c.eb4958","type":"trigger","z":"18602e5d.460e82","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","units":"ms","reset":"","bytopic":"all","name":"","x":500,"y":460,"wires":[[]]},{"id":"2ddfec93.72b454","type":"sentiment","z":"18602e5d.460e82","name":"","property":"payload","x":200,"y":500,"wires":[[]]}]         \"unit3\":\"pressure\"\n        }\n    \n}","output":"str","x":1070,"y":440,"wires":[[]]}]